<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nicolai Henriksen</string>
	<key>Builder Version</key>
	<string>12604.4.7.1.6</string>
	<key>CFBundleDisplayName</key>
	<string>JiraAgileClean</string>
	<key>CFBundleIdentifier</key>
	<string>com.procrasty.jiraagileclean</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>cleanJiraBoard</string>
				<key>Identifier</key>
				<string>cleanJiraBoard</string>
				<key>Image</key>
				<string>743-printer-selected.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Clean Jira Board</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Injected.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>jira-sprintboard-magic.css</string>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>V99TJ2U38P</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
